.filter {
    margin-top: 30px;
}
.filter h3 {
    font-size: 24px;
    font-weight: 600;
}
.filter-txt {
    margin: 30px auto 20px auto;
    font-size: 15px;
    font-weight: 600;
}
.filter-txt i {
    margin-right: 10px;
    color: #0084ff;
}
.filter-btn {
    padding: 10px 20px;
    color: #0096ff;
    border-radius: 20px;
    border: 1px solid #0096ff;
    font-size: 0.8em;
    margin-right: 10px;
    margin-bottom: 10px;
    background: whitesmoke;
}
.filter-btn:hover {
    background-image: linear-gradient(269deg, #0048ff, #0096ff);
    color: whitesmoke;
    cursor: pointer;
}